<!DOCTYPE html>

<head>
<meta charset="utf-8">
<title><%= name %> Documenation</title>

<link type="text/css" rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../style.css">

<style>
.namespace-container {
  padding: 0 42px;
  background-color: #fcf3e5;
  border-bottom: 1px solid hsl(24, 30%, 82%);
  border-top: 1px solid hsl(26, 43%, 90%);
  background-image: -webkit-linear-gradient(top, #FCF3E5, #EEE2D0);
  margin-top: 40px;
}

.namespace-container h3 {
  margin: 0px;
  color: hsl(17, 10%, 50%);
  margin-left: 50px;
}
#methods_list h2 {
  margin-top: 0;
}
</style>
</head>

<!-- BODY ******************************************************************-->

<body>
<div class="container">
<div id="body">


    <div id="sections-container">
      <ul class="breadcrumb" >
        <li id="logo"><a href="http://www.cocoapods.org/">CocoaPods</a>
          <span class="divider">/</span></li>
        <li><a href="../index.html">Docs</a>
          <span class="divider">/</span></li>
        <li class="active"><%= name %></li>
      </ul>
    </div>

  <!-- DESCRIPTION *************************************************************-->

  <div id="content-container">
    <div class="tab-content">
      <h2><%= name %></h2>
      <div class="row">
        <div class="span6">
          <h3>Description</h3>
          <p><%= description %></p>
          <h3>Authors</h3>
          <p><%= authors %></p>
        </div>
        <div class="span2 offset2">
          <h3>Version</h3>
          <p><%= version %></p>
        </div>
      </div>
    </div>
  </div>

  <div id="content-container">
    <div class="tab-content">
      <% name_spaces_with_children.each do |name_space| %>
        <h3><%= name_space %></h3>

        <p>
          <% name_space.children.each do |child| %>
            <a href="<%= child.url_relative_to_gem %>">
              <code><%= child.name %></code>
            </a>
          <% end %>
        </p>
    <% end %>
    </div>
  </div>

  <!-- CLASSES **************************************************************-->

  <% name_spaces.each do |name_space| %>
    <div class="namespace-container">
      <h3><a href="<%= name_space.url_relative_to_gem %>"><%= name_space.root_less_name %></a></h3>
    </div>

    <div id="methods-container">
      <div id="header">
        <div class="row" id="methods_list">
          <% name_space.columns.each do |entries| %>
            <div class="span3">
              <% entries.each_with_index do |group_or_method, entry_index| %>
                <% if group_or_method.is_a?(String) %>
                  <% if entry_index.zero? %>
                    <h2 class="first_of_column" >
                  <% else %>
                    <h2>
                  <% end %>
                  <a><%= group_or_method %></a>
                  </h2>
                <% else %>
                  <p><a href="<%= name_space.url_relative_to_gem %>#<%= parameterize group_or_method %>">
                    <%= group_or_method.name.to_s.gsub('[]', '[ ]') %>
                  </a></p>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- README *************************************************************-->

  <div id="content-container">
    <!-- <div class="tab-content"> -->
      <%# <%= readme %>
    <!-- </div> -->
  <!-- </div> -->

  <!-- FOOTER ************************************************************-->

  <!-- <div id="content-container"> -->

      <div id="footer">
        <hr>
        <p class="note">Generated for CocoaPods Core HEAD.</p>
      </div>

    </div><!-- .container -->
  </div><!-- #body -->

</body>

