<!DOCTYPE html>

<head>
<meta charset="utf-8">
<title><%= name %> Documenation</title>

<link type="text/css" rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../style.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<style>
.namespace-container {
  padding: 0 42px;
  background-color: #fcf3e5;
  border-bottom: 1px solid hsl(24, 30%, 82%);
  border-top: 1px solid hsl(26, 43%, 90%);
  background-image: -webkit-linear-gradient(top, #FCF3E5, #EEE2D0);
  margin-top: 40px;
}

.namespace-container h3 {
  margin: 0px;
}
#methods_list h2 {
  margin-top: 0;
}
</style>
</head>

<!-- BODY ******************************************************************-->

<body>
<div class="container">
<div id="body">

  <div id="sections-container">
    <ul>
      <li id="current_section">
        <h3><a><%= name %></a></h3>
      </li>
    </ul>
  </div>

  <!-- DESCRIPTION *************************************************************-->

  <div id="content-container">
    <div class="tab-content">
      <h2><%= name %></h2>
      <p><%= description %></p>
      <h3>Version</h3>
      <p><%= version %></p>
      <h3>Authors</h3>
      <p><%= authors %></p>
    </div>
  </div>

  <!-- CLASSES **************************************************************-->

  <% name_spaces.each do |name_space| %>
  <div class="namespace-container">
      <h3><%= name_space %></h3>
  </div>

  <div id="methods-container">
    <div id="header">
      <div class="row" id="methods_list">
        <% name_space.columns.each do |entries| %>
          <div class="span3">
            <% entries.each do |group_or_method| %>
              <% if group_or_method.is_a?(String) %>
              <h2><a><%= group_or_method %></a></h2>
              <% else %>
                <p><a><%= group_or_method.name %></a></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <!-- README *************************************************************-->

  <div id="content-container">
    <!-- <div class="tab-content"> -->
      <%# <%= readme %>
    <!-- </div> -->
  <!-- </div> -->

  <!-- FOOTER ************************************************************-->

  <!-- <div id="content-container"> -->

      <div id="footer">
        <hr>
        <p class="note">Generated for CocoaPods Core HEAD.</p>
      </div>

    </div><!-- .container -->
  </div><!-- #body -->

  <!-- SCRIPTS *************************************************************-->

  <script>
    function tabLinkByName(name) {
      return $('#methods_list a[href=#tab_' + name.replace('#', '') + ']');
    }

    function selectTabByName(name) {
      // de-select previous
      $('#methods_list .active').removeClass('active');
      // select new
      var tabLink = tabLinkByName(name);
      tabLink.parent().addClass('active')
      tabLink.tab('show');
      document.location.hash = name;
    }

    function selectTab(clickedLink) {
      selectTabByName(clickedLink.attr("href").replace('#tab_', ''));
    }

    $('a.select-tab').click(function (e) {
      e.preventDefault();
      selectTab($(this));
    })

    $('#current_section a:first').click(function (e) {
      e.preventDefault();
      $('#methods_list .active').removeClass('active');
      $(this).tab('show');
      document.location.hash = '';
    })

    // Shows the tab associated with the current fragment or the description of
    // the sections on page load.
    //
    $(function () {
      var tabLink = tabLinkByName(document.location.hash);
      if (tabLink.size() == 1) {
        selectTab(tabLink);
      } else {
        $('#current_section a:first').tab('show');
      }
    });
  </script>
</body>

